# Virtual environment
venv/

# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Vector database
db/

# Documents folder (optional, you might want to include sample documents)
# documents/

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# ignore file folder
documents/